//only for styles
.page {
    padding: 0 5px;
    box-sizing: border-box;
}
.row {
    background: #7071A8;

    .row {
        background: none;
    }
}

.container {
    margin-bottom: 40px;
}

//custom col styles
[class^="col"] {
    background: #D0D0E7;
    border: 1px solid #333577;

    text-align: center;
}

//basic box
.box {
    padding: 2rem;
    margin-bottom: 40px;
    background: #eee;
    border-radius: 5px;
    border: 1px solid #7778A7;
}

.btn-example {
    padding-bottom: 20px;
    
    .g-btn {
        width: 200px;
    }
}